<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
    <handlers>
      <add name="iisnode"
           path="index.js"
           verb="*"
           modules="iisnode" />
    </handlers>
    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_USER" />
      </allowedServerVariables>
      <rules>
        <rule name="AddAuthHeader" stopProcessing="false">
          <match url=".*" />
          <serverVariables>
            <set
              name="HTTP_X_FORWARDED_USER"
              value="{LOGON_USER}" />
          </serverVariables>
          <action type="None" />
        </rule>
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="true" />
  </system.webServer>
</configuration>


<!---
<configuration>
  <system.webServer>
    
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>


        <rule name="AddAuthHeader" stopProcessing="false">
          <match url=".*" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_USER" value="{LOGON_USER}" />
          </serverVariables>
          <action type="None" />
        </rule>

        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
-->